.vscode

Backend/__pycache__

Backend/clustering/__pycache__
Backend/trend/__pycache__

Backend/db/.env
Backend/db/__pycache__

Backend/account/.env
Backend/account/__pycache__

Backend/weather/__pycache__
Backend/weather/.env

Backend/user/__pycache__
Backend/account/__pycache__