.vscode
Backend/__pycache__
Backend/clustering/__pycache__
Backend/trend/__pycache__
Backend/db/.env
Backend/db/__pycache__
Backend/account/.env
Backend/account/__pycache__
Backend/weather/__pycache__
Backend/weather/.env
Backend/user/__pycache__
Backend/accident/__pycache__
Backend/accident/.env
Backend/marker/__pycache__
Backend/accident/uploaded_images
Backend/fcm_notification/firebase-privatekey.json
Backend/fcm_notification/__pycache__
Arduino/Firebeetle-2-ESP32-S3-CAM/DFRobot_AXP313A.cpp
Arduino/Firebeetle-2-ESP32-S3-CAM/DFRobot_AXP313A.h